/* My Awesome Styles */

/* Diagnostic Styling 
  * Change Background Color
  * Outline Elements
*/

* {
  outline: 1px dotted black;
}

/* Doodle Stage */
#stage {
  background: sienna;
  height: 400px;
  width: 600px;

  position: relative;
}

#stage h1 {
  position: absolute;
  bottom: 0;
  left: -200px;
  overflow: hidden;
}
